<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HostManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <HostManager.Properties.Settings>
            <setting name="AutoRestart_IE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRestart_Edge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRestart_Chrome" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRestart_Firefox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TempFileDel_IE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TempFileDel_Edge" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TempFileDel_Chrome" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TempFileDel_Firefox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HostFilePath" serializeAs="String">
                <value>C:\Windows\System32\drivers\etc</value>
            </setting>
        </HostManager.Properties.Settings>
    </userSettings>
</configuration>
