<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HostManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <HostManager.Properties.Settings>
            <setting name="IE_Auto_Closing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Edge_Auto_Closing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Chrome_Auto_Closing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FF_Auto_Closing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IE_TmpFile_Del" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Edge_TmpFile_Del" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Chrome_TmpFile_Del" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FF_TmpFile_Del" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Host_Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Host_File_Path" serializeAs="String">
                <value />
            </setting>
        </HostManager.Properties.Settings>
    </applicationSettings>
</configuration>
